
<main id="home" role="main">

    <h2>Welcome to my AMAZING app !!</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic ratione in sapiente dicta similique dolores delectus quasi nisi non.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic ratione in sapiente dicta similique dolores delectus quasi nisi non.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic ratione in sapiente dicta similique dolores delectus quasi nisi non.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic ratione in sapiente dicta similique dolores delectus quasi nisi non.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic ratione in sapiente dicta similique dolores delectus quasi nisi non.</p>

</main>